<div class="container bg">

    <div class="row">
        <div class="left" (click)="navigate('/receiving/home')">
            <h1>left-side</h1>
            <img src="assets/images/download (1).jpeg" alt="vjhdagkjsa" width="60px" height="60px">
            <span>messages</span>
        </div>
    </div>
    <div class="row" (click)="navigate('/receiving/tasks')">
        <img src="assets/images/images.png" alt="image not found" width="40px" height="40px">
        <span>Carts</span>
    </div>
    <div class="row c-pointer" (click)="navigate('/receiving/srn-lists')">
        <img src="/src//assets/images/download.png" alt="image not found" width="40px" height="40px">
        <span>Carts</span>
    </div>


</div>